@import "tailwindcss";

@keyframes scrollLR {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-lr {
  animation: scrollLR 60s linear infinite;
}
